---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="CommonTime">
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="text-4xl font-bold">
      CommonTime
    </h1>
  </main>
</BaseLayout>
