---
import AppHeader from "../components/AppHeader.astro";
import AppFooter from "../components/AppFooter.astro";
const { title = "CommonTime" } = Astro.props;
---


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
 <body class="bg-slate-50 text-slate-900 antialiased min-h-screen flex flex-col">
    <AppHeader />
     <main class="flex-1">
        <slot />
      </main>
    <AppFooter />
  </body>
</html>
